@inherits Umbraco.Web.Mvc.UmbracoViewPage<AppCMS.Web.Models.LoginModel>
@using Umbraco.Web

@if(!Umbraco.MemberIsLoggedOn())
{
    using (Html.BeginUmbracoForm("SubmitLogin", "Member", System.Web.Mvc.FormMethod.Post, new { id="login" }))
    {           
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { autofocus = true, type = "email" })

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        
        <div class="appcms-signin-remember">
            @Html.CheckBoxFor(m => m.Remember)
            @Html.LabelFor(m => m.Remember)
        </div>

        @Html.ValidationSummary()
        <button name="login" type="submit">Sign In</button>
    }
}
else
{
    Response.Redirect("/");
}